<section class="container_section_profile">
    <div class="container_profile_pic">
        <img id="profilePic_profile"
            {{#if user.profile_pic}}
                src="/profilePic/{{user.profile_pic}}"
            {{else}}
                src="/assets/img/defaultProfileImg.png"
            {{/if}}
        alt="Ops, imagem não encontrada :(">
        <h1><strong id="profileName" class="welcome_user_name">{{user.user_name}}</strong></h1>

        <form id="form_profilePic" action="/editProfile" method="post" enctype="multipart/form-data">
            <input type="text" name="newProfileName" id="inputNewProfileName" placeholder="Alterar nome de usuário">
            <label id="label_file_profilePic" for="input_profile_pic">
                Alterar foto de perfil <i class="ri-pencil-line"></i>
            </label>
            <div id="name_profilePic_profile"></div>
            <input onchange="showValueInputFileProfilePic()" id="input_profile_pic" type="file" name="profilePic" hidden>
            <div class="container_btns_send_edit_profile">
                <input onclick="showFormEditProfile()" id="btn_cancel_submit_profilePic" type="reset" value="Cancelar">
                <input id="btn_submit_profilePic" type="submit" value="Salvar alterações">
            </div>
        </form>

        <button onclick="showFormEditProfile()" id="btn_editProfile">
            Editar perfil <i class="ri-pencil-line"></i>
        </button>
    </div>

    {{#if pubs}}
        <p id="publicacoes_user">Publicações:</p>
    {{else}}
        <p id="publicacoes_user">Você não publicou nada ainda</p>
    {{/if}}
    <ul id="container_pub_profile">
        {{#each pubs}}
            <li id="pub_profile">
                <div class="info_pub">
                    <p class="title_pub">{{text_pub}}</p>
                    <p class="date_pub">{{date_pub}}</p>
                </div>
                {{#if img_pub}}
                    <img id="img_pub_profile" src="/imgPub/{{img_pub}}" alt="Ops, imagem não encontrada :(">
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <i onclick="goTop()" class="btn_go_top ri-arrow-up-s-line"></i>
</section>